.taskerWrap {
  display: flex;
  min-height: calc(100vh - 136px);
  background-color: #1b1e24;
  padding: 16px;
  border-radius: 16px;

  .certificationForm {
    width: 700px;
    margin: 0 auto;
    input {
      font-size: 14px;
      background-color: transparent !important;
    }
    .pageTittle {
      font-size: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url('../../../../public/img/profile/bg.png') no-repeat left center;
      background-size: 100% 100% !important;
      height: 120px;
      margin-bottom: 16px;
    }
    .authorizeCodeWrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      width: 100%;
      justify-content: center;
      max-width: 500px;
      margin: 0 auto;
      .title {
        font-size: 20px;
        font-weight: bolder;
      }
    }
  }
  .certificationFormConrtent {
    border-radius: 8px 8px 8px 8px;
    border: 1px solid #343d77;
    padding: 16px;
    padding-bottom: 32px;
  }
}
