:root {
  --theme-color: #7551ff;
  --theme-bg: #101c44;
}

.ql-toolbar,
.ql-container {
  border-color: rgba(255, 255, 255, 0.25) !important;
  border-radius: 4px;
}

.ql-container {
  border-radius: 0;
}

.chakra-form-control input {
  color: #fff;
}

.chakra-input {
  color: #fff !important;
}

.v-main {
  padding: 88px 16px 0px 256px;
}
