:root {
  --theme-color: rgb(39, 56, 82);
  --font-chakra-petch-bold: 'Chakra Petch Bold' !important;
  --font-rigel-star: rigel star, rigel star-rigel star !important;
}

.ql-toolbar,
.ql-container {
  border-color: rgba(255, 255, 255, 0.25) !important;
  border-radius: 4px;
}

.ql-container {
  border-radius: 0;
}

.chakra-form-control input {
  color: #fff;
}

.chakra-input {
  color: #fff !important;
}

*::-webkit-scrollbar {
  display: none;
}
