.itemContainer,
.personItemContainer {
  border-radius: 10px;
  background: #111c43;
  padding: 20px;
}

.itemTitle {
  font-weight: 800;
  max-width: 600px;
  word-break: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
}
.itemContent {
  color: #ffffff;
  line-height: 24px;
  font-size: 16px;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 这里是超出几行省略 */
  overflow: hidden;
  margin: 15px 0;
  position: relative;
}
.tasktypes {
  position: absolute;
  background-color: #202947;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  top: 0;
  right: 0;
  border-radius: 0 10px 0 10px;
  font-size: 14px;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.6);
}
.primaryBtn {
  background-color: #7551ff;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  color: #fff;
  padding: 0 10px;
}
.auth {
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(5px);
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 20px;
    margin-bottom: 30px;
  }
}

.datepicker {
  input {
    color: #fff;
  }
}

.hallContainer {
  background-color: #111c43;
  border-radius: 10px;
  width: calc((100% - 60px) / 3);
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  .btns {
    // border-top: 1px solid #000;
    background: #1b254a;
    padding: 0 10px;
  }
  .itemTitle {
    font-size: 22px;
  }
}
