.header {
  margin-top: 0px;
  transform: translateY(0px);
  left: 0px;
  right: 0px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 16px 0 20px;
  }
  .logo {
    width: 200px;
  }
  .rightContent {
    display: flex;
    align-items: center;
    gap: 16px;
    .mediawrap {
      display: flex;
      align-items: center;
      gap: 16px;
      cursor: pointer;
      img {
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}
