.component {
  top: 72px;
  height: calc(100% - 72px);
  position: fixed;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  width: 240px;
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 20px;
  }
  .mediawrap {
    display: flex;
    align-items: center;
    gap: 16px;
    justify-content: center;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    img {
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  .version {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 4px;
  }
}
