.component {
  display: flex;
  align-items: center;
  gap: 16px;
  input {
    background-color: transparent;
    border-radius: 4px;
    height: 40px;
    font-size: 14px;
    &:focus {
      border-color: #63b3ed;
      box-shadow: 0 0 0 1px #63b3ed;
    }
  }
}
