@import '../common.module.scss';

.baseinfoContainer {
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  position: relative;
  padding: 32px 42px;
}

.positionIcon {
  background: url('../../../public/img/workplace.png') no-repeat left center;
  background-size: 20px 20px !important;
  padding-left: 30px !important;
}

.numsIcon {
  background: url('../../../public/img/worktime.png') no-repeat left center;
  background-size: 20px 20px !important;
  padding-left: 30px !important;
}

.modify_input {
  outline: none !important;
  border: 0;
  border-radius: 0 !important;
  border-bottom: 1px solid !important;
  font-size: 20px !important;
  min-width: 400px !important;
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.uTag {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px 0 4px 0 !important;
  background-color: #7551ff !important;
}
.itemStatus {
  border: 1px solid #7551ff;
  color: #7551ff !important;
  background-color: transparent !important;
}
.active {
  color: #7551ff;
}
.experienceTag {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #1b254a;
}
.file {
  background: url('../../../public/img/file.png') no-repeat left center;
  background-size: 30px 30px;
  padding: 0 0 0 40px;
  width: 100%;
}
