@import '../common.module.scss';
.positionIcon {
  background: url('../../../public/img/workplace.png') no-repeat left center;
  background-size: 20px 20px!important;
  padding-left: 30px!important;
}


.numsIcon {
  background: url('../../../public/img/worktime.png') no-repeat left center;
  background-size: 20px 20px!important;
  padding-left: 30px!important;
}
.modify_input {
  outline: none!important;
  border: 0;
  border-radius: 0!important;
  border-bottom: 1px solid!important;
  font-size: 28px!important;
  min-width: 400px!important;
  &:focus {
    outline: none!important;
    box-shadow: none!important;
  }
}